.header {
  padding-top: 85px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #7e4f9b;
}

li:first-child {
  padding: 14px;
}

li {
  float: left;
  display: block;
  color: #7E4F9B;
  text-align: center;
  padding: 24px 24px 24px 0px;
  text-decoration: none;
}

li:last-child {
  float: right;
}